# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cmake
*.vcxproj
*.filters
*.sln

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.ilk
*.pdb

# Folders
.vscode/
html/
latex/

# Text files
*.txt

# Doxygen file
Doxyfile