{:text-color "#e6e6e6ff", :line-no-color "#999999ff", :background-color "#333333ff", :highlight-color "#334D4DFF", :border-color "#4d4d4dff", :button-hover-color "#808080ff", :scroll-color "#666666ff"}
