{:text-color "#000000ff", :line-no-color "#aaaaaaff", :background-color "#ffffffff", :highlight-color "#888888ff", :border-color "#e6e6e6ff", :button-hover-color "#999999ff", :scroll-color "#666666ff"}