{:text-color "#654321ff", :line-no-color "#6aaa8dff", :background-color "#c6ffe5ff", :highlight-color "#28887eff", :border-color "#b6d3e6ff", :button-hover-color "#4e9999ff", :scroll-color "#2b6638ff"}