{:background-color "#99cc99ff", :border-color "#cc9933ff", :text-color "#e6804dff", :line-no-color "#cc8033ff", :button-hover-color "#ccffccff", :scroll-color "#ccffccff", :highlight-color "#cc3333ff"}