{:background-color "#331a80ff", :border-color "#cccc33ff", :text-color "#ffe680ff", :line-no-color "#664db3ff", :button-hover-color "#99ccccff", :scroll-color "#664db3ff", :highlight-color "#b36680ff"}