{:background-color "#663366ff", :border-color "#e6994dff", :text-color "#4d1a4dff", :line-no-color "#664db3ff", :button-hover-color "#4d3399ff", :scroll-color "#ff9999ff", :highlight-color "#80b380ff"}