{:background-color "#99ccccff", :border-color "#669999ff", :text-color "#f2f2f2ff", :line-no-color "#669999ff", :button-hover-color "#ccffffff", :scroll-color "#669999ff", :highlight-color "#669999ff"}