{:background-color "#0a7983ff", :border-color "#80b3b3ff", :text-color "#95f8f1ff", :line-no-color "#49c9c5ff", :button-hover-color "#65e6e1ff", :scroll-color "#4C566A22", :highlight-color "#65e6e1ff"}